<body>
    <input type="text" value="productAdd" id="pageStatus" hidden="true">
    <div><span>Name</span></div>
    <div><input type="email" class="add-product form-control"></div>
    <div>&nbsp;</div>
    <div><span>Price</span></div>
    <div><input type="email" class="add-product form-control"></div>
    <div>&nbsp;</div>
    <div><span>Qty</span></div>
    <div><input type="email" class="add-product form-control"></div>
    <div>&nbsp;</div>
    <div><span>Description</span></div>
    <div><input type="email" class="add-product form-control"></div>
    <div>&nbsp;</div>
    

</body>
