<body>
    
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-4" id="isi-product" >
        
        <!-- <div class="col mb-5" >
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/450x300?text=IMAGE" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center">
                        <h4 class="fw-bolder">Pintu Baja</h4>
                        <h5>Rp. 500.000</h5>
                        <h6>Stock: 50</h6>
                        <h6>Pintu Baja dengan kualitas terbaik</h6>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <button type="button" class="editBtn btn btn-warning">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="deleteBtn btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>  
        </div> -->
    </div>

    <!-- <script type="text/JavaScript" src="/dashboard/dashboard.js"></script> -->
</body>